@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-orange: #e3b577;
  --color-info: #ECEAE3;
  --color-button: #242222;
  --color-button2: #E3B577;
  --color-text: #331A15;
  --color-p: #1B1A1A;
  --color-product:#F5F4F1;
  --color-icon:#D2B48C;
  --color-icon2:#EA4744;
  --font-rancho: "Rancho", "cursive";
  --font-raleway: "Raleway", "sans-serif";
}
